{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		{% if current_user.id == w_id %}
		<form method="POST" action="#">
			{{ form.hidden_tag() }}
            {{ form.submit(value='Check out', class = "btn btn-outline-secondary") }}
		</form>
		{% else %}
		<form method="POST" action="{{ url_for('checkin', w_id=current_user.id, o_id=o_id) }}">
			{{ form.hidden_tag() }}
            {{ form.submit(value='Check in', class = "btn btn-outline-secondary") }}
		</form>
		{% endif %}
	</div>
{% endblock content %}
