{% extends "layout.html" %}
{% block content %}
	<div  class="content-section">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Order_id</th>
		      <th scope="col">Current WareHouse</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  {% for i in orders %}
			  <tbody>
				    <tr>
				      <th scope="row">{{ loop.index }}</th>
				      <td>
				      <a href="{{ url_for( 'order_details', paymentID = i.paymentID, current_warehouse_id = i.current_warehouse_id ) }}">
				      	{{ i.paymentID }}
				      </a>
				  	  </td>
				      <td>{{ i.current_warehouse_id }}</td>
				      <td>{{ i.status }}</td>
				    </tr>
			  </tbody>
		   {% endfor %}
		</table>
	</div>
{% endblock content %}
